#parent{
  font-family: Arial;
  font-size: 10pt;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; 
  height: 100vh; 
  margin: 0;
}

#header, #footer{
  width:  97%;
  height: 45%;
  border: solid rgb(241, 241, 241) 0.2em;
  border-radius: 0.75em;
  overflow: hidden;
}

#header{
  margin: 1em;
}

#footer{
  
}

.main-container{
  height: 90%;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(5, 1fr);
}

.upper{
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: bold;
  padding-left: 1em;
  padding-right: 1em;
  height: 10%;
  border-bottom: solid rgb(241, 241, 241) 0.2em;
  background-color: #fafafa;
}

.main{
  
}

.upperReset{
  border: none;
  background: none;
  width: 1.3em;
  height: 1.3em;
}

.upperReset img{
  width: 1.3em;
  height: 1.3em;
}